.home-page {
  margin: 30px;
  height: max-content;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

section {
  display: flex;
}

.homepage-text {
  display: grid;
  align-items: center;
  justify-content: start;
}